* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --rasin-black: #1d1e2c;
  --transparent-rasin-black: #1d1e2cc7;
  --dark-gold: #927543;
  --light-gold: #c7ab6e;
}

#champions-page {
  background-color: var(--rasin-black);
  min-height: 100%;
  position: absolute;
  width: 100%;
  z-index: -4;
  font-family: "Barlow", sans-serif;
  
  .app-name-container {
    background-color: var(--dark-gold);
    padding: 0.3em;
    border-radius: 8px 0px 8px 0;
  }

  .app-name {
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 3px;
    cursor: pointer;
  }

  .app-name-container:hover {
    color: var(--dark-gold);
    background-color: white;
  }

  .page-header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: var(--rasin-black);
    max-width: 100%;
    padding: 1em 0;
    border-style: solid;
    border-color: var(--dark-gold);
    border-width: 0 0 2px 0;
    align-items: center;
  }

  .search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .auto-complete-names {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 4;
    top: 100%;
    width: 100%;
    max-height: 14rem;
    overflow: auto;
    scroll-behavior: smooth; 
    display: none;
  }

  .auto-complete-name-wrapper {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    color: var(--rasin-black);
    font-weight: 600;
    width: 100%;
  }

  .auto-complete-name-wrapper:hover {
    background-color: var(--light-gold);
  }

  .auto-complete-name-wrapper:focus {
    background-color: var(--light-gold);
  }
  
  .search {
    padding: 0.5em;
    min-width: 18em;
    background: #e2e4e9;
    outline: none;
    border-style: none;
    color: var(--rasin-black);
    font-weight: 600;
    min-height: 2.6em;
    font-size: 1em;
  }

  .champions-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 1em;
    max-width: 80%;
    margin: auto;
    margin-top: 2em;
  }

  .champion-container.shown {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
    max-width: 9rem;
    position: relative;
    margin-top: 1.5em;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
  }

  .champion-container.shown:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .champion-container.shown:focus {
    transform: scale(1.05);
    opacity: 1;
  }

  .champion-container.hidden {
    display: none;
  }

  .champion-img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8%;
  }

  .champion-img:focus {
    .champion-container.shown{
      transform: scale(1.05);
      opacity: 1;
    }
  }

  .champion-name-wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: -3.2em;
    background-color: var(--transparent-rasin-black);
    width: 100%;
    height: 100%;
    padding: 0.2em 0 0.2em;
  }

  .champion-name {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
  }
  
  .filter-sort-section {
    display: flex;
    width: 57%;
  
    margin: 1em auto 3em auto;
  }
  
  .lane-filter-header {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    flex: 1;
    width: 76%;
    margin: 1em auto;
    justify-content: space-evenly;
  }

  .header-option {
    cursor: pointer;
    color: #70757a;
  }

  .header-option:hover {
    color: white;
    border-bottom: solid 3px var(--light-gold);
  }

  .header-option.active {
    color: white;
    border-bottom: solid 3px var(--light-gold);
  }

  .dropdown {
    margin: 0 0.4em 0.4em 0.4em;
    max-width: 100%;
    position: relative;
    flex: 1;
  }

  .dropdown-btn {
    display: flex;
    border-style: none;
    justify-content: space-between;
    background-color: #dfdfe1;
    color: #2f1d1d;
    font-weight: 600;
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    border-bottom: 2px solid;
  }

  .dropdown-btn::after {
    content: "\27A4";
    display: inline-block;
    transform: rotate(90deg);
  }

  .dropdown-options {
    flex-direction: column;
    display: none; 
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  
  .dropdown-option {
    color: var(--rasin-black); 
    font-weight: 600;
    background-color: #f8f8f8;
    cursor: pointer;
    padding: 0.5em;
    color: white;
    color: var(--rasin-black);
    border-bottom: 2px solid #f8f8f8;
  }

  .dropdown-option:hover {
    background-color: #e1dede;
  }

  .dropdown-option.active {
    background-color: var(--light-gold);
  }

  .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #2e3436;
    background: -moz-linear-gradient(left, #2e3436 10%, rgba(143,89,2, 0) 42%);
    background: -webkit-linear-gradient(left, #2e3436 10%, rgba(143,89,2, 0) 42%);
    background: -o-linear-gradient(left, #2e3436 10%, rgba(143,89,2, 0) 42%);
    background: -ms-linear-gradient(left, #2e3436 10%, rgba(143,89,2, 0) 42%);
    background: linear-gradient(to right, #2e3436 10%, rgba(143,89,2, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
    position: relative;
    top: 17.3em;
    z-index: 5;
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: var(--dark-gold);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: var(--rasin-black);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

  @media (min-width: 850px) {
    .champions-section {
      grid-template-columns: repeat(4, 1fr);
    }

    .champion-container.shown {
      max-width: 10rem;
    }

    .lane-filter-header {
      width: 54%;
    }
  }

  @media (min-width: 1000px) {

    .dropdown {
      grid-row-start: 2;
    }

    .champions-section {
      grid-column-gap: 0;
    }

    .champion-name-wrapper {
      margin-top: -3.6em;
    }

    .champion-name {
      font-size: 1.4em;
    }
  }

  @media (min-width: 1200px) {
    .champions-section {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (min-width: 1500px) {
    .champions-section {
      grid-template-columns: repeat(6, 1fr);
    }

    .champion-container.shown {
      max-width: 12rem;
    }
  }

  @media (max-width: 700px) {
    .header-option {
      margin-right: 0.5em;
    }

    .filter-sort-section {
      width: 94%;
    }

    .search {
      min-width: 16em;
      min-height: 1.6em;
      font-size: 0.95em;
    }
  }

  @media (max-width: 500px) {
    .champions-section {
      grid-template-columns: repeat(2, 1fr);
    }

    .page-header {
      flex-direction: column;
    }

    .app-name-container {
      margin-bottom: 1em;
    }
  }

  @media (max-width: 360px) {
    .lane-filter-header {
      font-size: 1em;
    }
  }
 }
