* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --rasin-black: #1d1e2c;
  --transparent-rasin-black: #1d1e2c91;
  --dark-gold: #927543;
  --light-gold: #c7ab6e;
}

#front-page {
  background-color: var(--rasin-black);
  min-height: 100%;
  position: absolute;
  width: 100%;
  z-index: -4;

  .front-page-header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: var(--rasin-black);
    max-width: 100%;
    padding: 1em 0;
    border-style: solid;
    border-color: var(--dark-gold);
    border-width: 0 0 2px 0;
    align-items: center;
  }

  .search-container {
    display: none;
  }

  .search {
    padding: 0.5em;
    min-width: 18em;
    background: #e2e4e9;
    outline: none;
    border-style: none;
    color: var(--rasin-black);
    font-weight: 600;
    border-radius: 0.5em 0.5em;
    min-height: 2.6em;
    font-size: 1em;

  }

  .splash-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
  }

  .backdrop-img {
    max-width: 100%;
    min-height: 50vh;
    background-color: transparent;
    color: #222;
    opacity: 0.7;
  }

  .backdrop {
    z-index: -2;
    position: relative;
    width: 100%;
  }
  
  .backdrop::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,#14181d,rgba(20,24,29,.985565) .97%,rgba(20,24,29,.945131) 2.07833%,rgba(20,24,29,.883007) 3.29667%,rgba(20,24,29,.803499) 4.60167%,rgba(20,24,29,.710915) 5.96667%,rgba(20,24,29,.609563) 7.365%,rgba(20,24,29,.50375) 8.77167%,rgba(20,24,29,.397784) 10.16%,rgba(20,24,29,.295973) 11.505%,rgba(20,24,29,.202624) 12.78%,rgba(20,24,29,.122044) 13.95833%,rgba(20,24,29,.0585423) 15.01667%,rgba(20,24,29,.0164249) 15.92833%,rgba(20,24,29,0) 16.66667%,rgba(20,24,29,0) 83.33333%,rgba(20,24,29,.0164249) 84.07167%,rgba(20,24,29,.0585423) 84.98333%,rgba(20,24,29,.122044) 86.04167%,rgba(20,24,29,.202624) 87.22%,rgba(20,24,29,.295973) 88.495%,rgba(20,24,29,.397784) 89.84%,rgba(20,24,29,.50375) 91.22833%,rgba(20,24,29,.609563) 92.635%,rgba(20,24,29,.710915) 94.03333%,rgba(20,24,29,.803499) 95.39833%,rgba(20,24,29,.883007) 96.70333%,rgba(20,24,29,.945131) 97.92167%,rgba(20,24,29,.985565) 99.03%,#14181d),linear-gradient(0deg,#14181d,#14181d 21.48148%,rgba(20,24,29,.985565) 23.63704%,rgba(20,24,29,.945131) 26.1%,rgba(20,24,29,.883007) 28.80741%,rgba(20,24,29,.803499) 31.70741%,rgba(20,24,29,.710915) 34.74074%,rgba(20,24,29,.609563) 37.84815%,rgba(20,24,29,.50375) 40.97407%,rgba(20,24,29,.397784) 44.05926%,rgba(20,24,29,.295973) 47.04815%,rgba(20,24,29,.202624) 49.88148%,rgba(20,24,29,.122044) 52.5%,rgba(20,24,29,.0585423) 54.85185%,rgba(20,24,29,.0164249) 56.87778%,rgba(20,24,29,0) 58.51852%);
  }

  .slogan-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 17em;
  }

  .slogan-1 {
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Barlow', sans-serif;  
  }

  .slogan-2 {
    color: white;
    font-size: 2.1rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Barlow', sans-serif;  
  }

  .mobile-discover-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
    width: 100%;
  }

  .front-page-btn {
    color: white;
    background: transparent;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-style: none;
    background-color: var(--dark-gold);
  }
  .front-page-btn:hover {
    background-color: var(--light-gold);
  }

  .mobile-search-container {
    margin-bottom: 3em;
  }

  .mobile-search {
    padding: 0.5em;
    min-width: 18em;
    background: #e2e4e9;
    outline: none;
    border-style: none;
    color: var(--rasin-black);
    font-weight: 600;
    border-radius: 0.5em 0.5em;
    min-height: 2.6em;
    font-size: 1em;
  }

  .discover-btn-container {
    position: absolute;
    margin-bottom: 3em;
    display: none;
  }

  .discover-btn {
    border-style: solid;
    color: var(--rasin-black);
    border-color: var(--rasin-black);
    background-color: var(--dark-gold);
    font-size: 1.2em;
    border-radius: 75% 10% / 0% 75%;
  }

  .discover-btn:hover {
    background-color: var(--light-gold)
  }

  .navigation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .legal-boilerplate {
    color: white;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    padding: 0 1.3em 0.6em 1.3em;
    text-align: center;
    background-color: var(--dark-gold);
    width: 100%;
    font-weight: 600;
  }

  @media (min-width: 950px) {
    .mobile-search-container {
      display: none;
    }

    .search-container {
      display: flex;
    }
  }

  @media (min-width: 1200px) {
    .mobile-discover-btn-container {
      display: none;
    }

    .discover-btn-container {
      display: block;
    }

    .legal-boilerplate {
      font-size: 1em;
      padding-top: 0.6em;
    }
  }
}