* {
  margin: 0;
}

@mixin containerBackground {
  background-color: #181a20bf;
  padding: 1em;
  border-radius: 1em;
  color: white;
  margin-bottom: 0.6em;
  line-height: 1.4;
  font-weight: 600;
  font-size: 16px;
  border-color: #927543;
  border-style: solid;
}

@mixin subHeadingStyle {
  margin: auto;
  margin-bottom: 0.4em;
  font-size: 24px;
  color: #c7ab6e;
  text-align: center;
} 

@mixin iconSize {
  height: 3.5rem;
  width: 3.5rem;
}

@mixin iconText {
  font-weight: 600;
  font-size: 20px;
}

@mixin iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

@mixin smallMargin {
  margin-top: 1em;
  margin-bottom: 1em;
}

@mixin modalContentContainer {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75%;
  min-height: 49rem;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: 1px solid #888;
  background: no-repeat url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Poppy_0.jpg");
  background-size: cover;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 4rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.1);
  
  #main-container {
    @include modalContentContainer();
    display: none;
  }

  .modal-header {
    @include containerBackground();
    padding: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
  }

  .modal-nav-links {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
    font-size: 22px;
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;    
  }

  .modal-nav-link {
    cursor: pointer;
    @include smallMargin();
  }

  .modal-nav-link:hover {
    color: #927543;
  }

  .champion-heading {
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-right: 6em;
  }

  .champion-name {
    margin: auto;
  }

  .champion-title {
    color: #c7ab6e;
    font-size: 20px;
  }

  .champion-roles {
    display: flex;
    justify-content: center;
  }

  .champion-role {
    @include iconContainer();
  }

  .champion-resource {
    @include iconContainer();
  }

  .champion-role-image {
    @include iconSize();
  }

  .champion-resource-image {
    @include iconSize();
  }

  .champion-role-name {
    @include iconText();
  }

  .champion-resource-name {
    @include iconText();
  }

  .champion-main-info {
    padding: 1.8rem;
    max-width: 34rem;
    display: flex;
    flex-direction: column;
    justify-content:last baseline;    
  }

  @-webkit-keyframes animatetop {
    from {top: -300px; opacity:0}
    to {top:0; opacity: 1;}
  }

  @keyframes animatetop {
    from {top: -300px; opacity:0}
    to {top:0; opacity: 1;}
  }

  .lore-container {
   @include containerBackground();
  }

  .subheading {
    @include subHeadingStyle();
  }

  .abilities-container {
    @include containerBackground();
    max-width: 34rem;
  }

  .abilities-heading {
    text-align: center;
  }

  .ability-pictures {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
  }

  .ability-description {
    @include smallMargin();
  }

  .champion-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .champion-extra-info {
    display: flex;
    flex-direction: column;
  }
  
  .ability-info {
    display: none;
  }

  .ability-info.active {
    display: flex;
    flex-direction: column;
  }

  .spell-img {
    cursor: pointer;
  }

  .spell-img.clicked {
    border-style: solid;
    border-color: #927543;
    border-width: 4px;
  }

  .champion-tips {
    @include containerBackground();
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    max-width: 34rem;
    text-align: center;
  }

  .champion-tip {
    margin-bottom: 1em;
  }

  #stats-container {
    @include modalContentContainer();
    display: block;
  }

  .champion-stats-overview {
    display: flex;
    justify-content: space-evenly;
    width: 25rem;
    font-size: 24px;
  }

  .win-rate {
    display: flex;
    flex-direction: column;
  }

  .pick-rate {
    display: flex;
    flex-direction: column;
  }

  .lane-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pick-rate-value {
    margin-top: 0.4em;
    color: #c7ab6e;
  }

  .win-rate-value {
    margin-top: 0.4em;
    color: #c7ab6e;
  }

  .label {
    font-size: 20px;
  }

  .champion-damage-container {
    @include containerBackground();
    width: 38%;
    max-width: 38%;
    height: 17.5rem;
  }

  .damage-heading {
    text-align: center;
  }

  .circular-chart {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 250px;
  }

  .circle {
    fill: none;
    stroke-width: 2.2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  #magic-damage-stroke {
    stroke: #35A7FF;
  }

  #physical-damage-stroke {
    stroke: #ff5964
  }

  #true-damage-stroke {
    stroke: #FFE74C
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .total-damage-text {
    font-size: 4px;
    text-anchor: middle;
    fill: white;
  }

  .total-damage-label {
    font-size: 3px;
    text-anchor: middle;
    fill: #927543;
  }

  .champion-main-stats {
    display: flex;
    justify-content: space-evenly;
  }

  .champion-item-builds {
    @include containerBackground();
    max-width: 38%;
    width: 38%;
    height: 17.5rem;
  }

  .damage-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .damage-info {
    display: flex;
    margin-bottom: 1000em;
  }

  .damage-type-container {
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }

  .damage-stats {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #physical-damage-label {
    color: #ff5964;
  }

  #magic-damage-label {
    color: #35A7FF
  }

  #true-damage-label {
    color: #FFE74C
  }

  .item-details-container {
    @include containerBackground();
    font-size: 14px;
    display: none;
    position: absolute;
    background-color:#181a20;
    margin-right: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    right: 1em;
  }

  .item-name {
    font-weight: 600;
    font-size: 16px;
  }

  .cost-label {
    color: #c7ab6e;
    font-size: 16px;
  }

  .component-item-name {
    font-size: 16px;
  }

  .cost-amount {
    font-size: 16px;
  }

  .component-item-cost-label {
    color: #c7ab6e;
    font-size: 16px;
  }

  .component-item-amount {
    font-size: 16px;
  }

  .component-item-details-container {
    @include containerBackground();
    font-size: 14px;
    display: none;
    position: absolute;
    background-color:#181a20;
    flex-direction: column;
  }

  .item-sets-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
  }

  .item-set-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #927543;
    border-radius: 1em;
  }  

  .main-component-container {
    @include containerBackground();
    background-color: #06040083;
    padding: 1em;
    border-radius: 1em;
    color: white;
    margin-bottom: 0em;
    font-weight: 600;
    font-size: 16px;
    border-style: none;
    padding: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.6em;
    border-width: 1px;
    margin-left: 1em;
  }

  .item-img {
    width: 2.7em;
    height: 2.7em;
    border-radius: 1em;
  }

  .component-item-img {
    width: 1.8em;
    height: 1.8em;
  }

  .champion-matchups {
    @include containerBackground();
    height: 11.2rem;
    max-height: 11.2rem;
    margin-bottom: 0;
    border-radius: 0 0 0 0;
    display: flex;
    justify-content: space-evenly;
  }

  .matchups {
    display: flex;
    justify-content: space-around;
    width: 24rem;
  }

  .matchup-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #17161a;
    padding: 0.5em;
    border-radius: 1em;
  }

  .matchup-info:hover {
    background-color: #17161ac9;
  }

  .matchup-stats {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  }

  .enemy-champion-img {
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin-bottom: 0.5em;
  }

  .winrate-against-percentage.blue {
    color: #35A7FF;
  }

  .winrate-against-percentage.red {
    color: #ff5964;
  }
}